.btn {
    background-color: #e7e7e7; 
    color: black;
    /* text-align: center; */
    /* font-size: 18px; */
    padding: 50px;
    /* margin-right: 10px; */
    /* margin-left: 15px; */
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
    justify-content: center;
    width: 30%;
    margin: auto;
    margin-top: 50px;

}
.grouping {
    display: flex;
    /* justify-content: space-between; */


}
button {
    /* background-color: #e7e7e7;  */
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    width:70px;
    margin-top:5px;

}
/* .input{ */
    /* padding:50px; */
    /* width: 70%; */
    /* margin: auto; */
    /* margin-bottom: 5px; */
    /* justify-content: left; */

/* } */

.input{
    padding:15px;
    margin-bottom: 8px;
    /* justify-content: right; */
    margin-left : 29px;
    text-align: right;
    font-size: 18px;

}